<%= form_for(@commissioning_form) do |f| %>
 

  <% if @commissioning_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commissioning_form.errors.count, "error") %> prohibited this commissioning_form from being saved:</h2>

      <ul>
      <% @commissioning_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3>Customer Info</h3>
  
 <div class="form-group">
    <%= f.label :job %><br>
    <%= f.text_field :job, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :job_type %><br>
    <%= f.select :job_type, ["Commercial", "Residential ", "Other"], {}, {class: "form-control"}%>
  </div>
  <div class="form-group">
    <%= f.label :system_size %><br>
    <%= f.number_field :system_size, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :physical_address %><br>
    <%= f.text_field :physical_address, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :mailing_address %><br>
    <%= f.text_field :mailing_address, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :parcel_id %><br>
    <%= f.text_field :parcel_id, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :customer_phone %><br>
    <%= f.number_field :customer_phone, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :customer_email %><br>
    <%= f.text_field :customer_email, class: "form-control" %>
  </div>


  <br>
<h3> Modules </h3>
<%= f.fields_for(:mods) do |mod_form| %>
<p>
<%= mod_form.label :mod_type %>
<br>
<%= mod_form.text_field :mod_type, class: "form-control" %>
</p>
<p>
<%= mod_form.label :qty%>
<br>
<%= mod_form.text_field :qty, class: "form-control" %>
</p>
<% end %>
<br>



<%= f.fields_for(:inverters) do |inverter_form| %>
<% if @inverter_number != nil %>
<% @inverter_number += 1 %>
<% end %>
<%= render :partial => 'inverter_form', :locals => {:f => inverter_form } %>
<% end %>


<br>
<h3> Electrical Info</h3>
   <div class="form-group">
    <%= f.label :permit %><br>
    <%= f.text_field :permit, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :installation_completed %><br>
    <%= f.text_field :installation_completed, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :net_meter_installed %><br>
    <%= f.text_field :net_meter_installed, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :wapa_account %><br>
    <%= f.text_field :wapa_account, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :project_notes %><br>
    <%= f.text_area :project_notes, class: "form-control" %>
  </div>
  <div class="actions">

 <div class="form-group">
    <%= f.label :commissioning_date %><br>
    <%= f.text_field :commissioning_date, class: "form-control" %>
  </div>
  <br>
   <div class="form-group">
    <%= f.label :employee_name %><br>
    <%= f.text_field :employee_name, class: "form-control" %>
 </div>
 <br>
<br>
<%= f.submit 'Submit', class: "btn btn-default", type:"submit"  %> 
 
  </div>
<% end %>
