<h1>Listing commissioned jobs</h1>


 <div class="form-group">
  <%= form_tag(commissioning_forms_path, :method => "get",class: "form-inline", id: "search-form") do %>
   <div class="form-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search byJobs" %>
   </div>
          <%= submit_tag "search", class: "btn btn-default" %>
    <% end %>
</div>
<br>
<%= render :partial => 'pagination' %>
<br>

 <% if @commissioning_forms.empty? %>
 <p>No Matching Query </p>
 <% else %>
    <% @commissioning_forms.each do |commissioning_form| %>

      <br>
       <%= link_to 'Open', commissioning_form %>
      <%= commissioning_form.job %>
      
     
    
    <% end %>
<% end %>
<br>
<br>
<%= link_to 'New Commissioning form', form_setup_commissioning_forms_path %>
